/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

/** {
  margin: 0;
  padding: 0;
}*/
html, body {
  height: 100%;
  word-break: break-all;
}

body {
  background-color: white;
  font: 14px 'Microsoft YaHei', helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
  line-height: 1.5
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comic Sans MS','Microsoft YaHei';
  font-size: 100%;
  margin: 10px 0px;
}

h1{
  font-size: 125%;
}
h3, h4, h5, h6{
  color: blue;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
    margin: 6px 0;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 960px;
  margin: 24px auto 24px auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 24px;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}
#post .meta {
  float: right;
  margin-top: -3em;
}
  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post p {
    margin: 0.2em 0;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post ol{
    padding: 0px;
  }

  #post ul{
    margin: 6px 0px;
    padding: 0px;
    list-style-type: none;
  }
  #post ul li { 
    margin: 6px 0;
    padding: 0px; 
    text-indent: 0px;
  }

  #post ul li:before {
      content: "•";
      padding-right: 7px;
      /*content: "☞";*/
      color: blue; /* or whatever color you prefer */
  }

  #post pre code {
    border: none;
    font-size: 12px;
    line-height: 1.5;
  }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

  #related {
    margin-bottom: 24px;
    border: 1px solid rgba(0,0,0,0.067);
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.067);
  }

  aside section {
    margin-bottom: 24px;
    border: 1px solid rgba(0,0,0,0.067);
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.067);
  }

  #related ul {
    margin: 0px;
    padding: 0px;
  }
  #related ul li{
    white-space: nowrap;
    overflow: hidden;
    margin: 6px 0;
    padding: 0px;
  }

#post code {
   font-family: Menlo,Monaco,Consolas,"Courier New",'Microsoft YaHei';
}

pre code {
   font-family: Menlo,Monaco,Consolas,"Courier New",'Microsoft YaHei';
}

aside {
  float: left;
  width: 168px;
}
#post{
  margin-left: 192px;
}
.contact{
    float: none !important;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 36px;
}

input[type="text"], input[type="email"] , input[type="password"], textarea{
    border: 1px solid #ccc !important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus{
    border-color: #66afe9 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}
#ds-thread #ds-reset .ds-textarea-wrapper textarea {
    font: 14px 'Microsoft YaHei', helvetica, arial, clean, sans-serif !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) !important;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
}
#ds-thread #ds-reset .ds-textarea-wrapper textarea:focus {
    border-color: #66afe9 !important;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6) !important;
}
button, input[type="button"], input[type="reset"], input[type="submit"]{
    color: #FFF;
    border: 1px solid;
    border-radius: 4px;
    border-top-color: #1992da;
    border-left-color: #0c75bb;
    border-right-color: #0c75bb;
    border-bottom-color: #00589c;
    -webkit-box-shadow: inset 0 1px 1px 0 #6fc5f5;
    -moz-box-shadow: inset 0 1px 1px 0 #6fc5f5;
    box-shadow: inset 0 1px 1px 0 #6fc5f5;
    background: #117ed2;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#37aaea",endColorstr="#117ed2");
    background: -webkit-gradient(linear,left top,left bottom,from(#37aaea),to(#117ed2));
    background: -moz-linear-gradient(top,#37aaea,#117ed2);
    background-image: -o-linear-gradient(top,#37aaea 0,#117ed2 100%);
    background-image: linear-gradient(to bottom,#37aaea 0,#117ed2 100%);
}
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, 
input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus{
    background: #1c5bad;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2488d4",endColorstr="#1c5bad");
    background: -webkit-gradient(linear,left top,left bottom,from(#2488d4),to(#1c5bad));
    background: -moz-linear-gradient(top,#2488d4,#1c5bad);
    background-image: -o-linear-gradient(top,#2488d4 0,#1c5bad 100%);
    background-image: linear-gradient(to bottom,#2488d4 0,#1c5bad 100%);
    -webkit-box-shadow: inset 0 1px 1px 0 #64bef1;
    -moz-box-shadow: inset 0 1px 1px 0 #64bef1;
    box-shadow: inset 0 1px 1px 0 #64bef1;
}
#ds-thread #ds-reset .ds-post-button {
    font: 16px 'Microsoft YaHei', helvetica, arial, clean, sans-serif !important;
    text-shadow: none !important;
    letter-spacing: 1.3em;
    text-align: right !important;
    color: #FFF !important;
    border: 1px solid !important;
    border-radius: 4px !important;
    -webkit-box-shadow: inset 0 1px 1px 0 #6fc5f5 !important;
    box-shadow: inset 0 1px 1px 0 #6fc5f5 !important;
    background: #117ed2 !important;
    background: -webkit-gradient(linear,left top,left bottom,from(#37aaea),to(#117ed2)) !important;
    background-image: linear-gradient(to bottom,#37aaea 0,#117ed2 100%) !important;
}
#ds-thread #ds-reset .ds-post-button:hover, #ds-thread #ds-reset .ds-post-button:focus{
    background: #1c5bad !important;
    background: -webkit-gradient(linear,left top,left bottom,from(#2488d4),to(#1c5bad)) !important;
    background-image: linear-gradient(to bottom,#2488d4 0,#1c5bad 100%) !important;
    -webkit-box-shadow: inset 0 1px 1px 0 #64bef1 !important;
    box-shadow: inset 0 1px 1px 0 #64bef1 !important;
}